PORT=5000

NODE_ENV=development

MONGODB_URI= you can use your own MongoDB URI here, for example: mongodb+srv://username:

# local Redis configuration use docker-compose.yml or install Redis locally
REDIS_HOST=localhost
REDIS_PORT=6379

# for deployment, use the following format for REDIS_URL:
REDIS_URL=rediss://default:xxxxxxxx@your-db.upstash.io:6379
REDIS_PREFIX=crm-ai-importer

AI_PROVIDER=gemini  

OPENROUTER_API_KEY=you can use your own OpenRouter API key here, for example: sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_MODEL=google/gemma-3-27b-it:free

GEMINI_API_KEY=you can use your own Gemini API key here, for example: AQ.Ab8RN6Kis
# by default, the model is set to "gemini-2.0-flash". You can change it to any other available Gemini model if needed.
GEMINI_MODEL=gemini-2.0-flash

UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760